<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SnapCRM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <SnapCRM.Properties.Settings>
      <setting name="server" serializeAs="String">
        <value>172.18.0.4</value>
      </setting>
      <setting name="databaseName" serializeAs="String">
        <value>snapcrm</value>
      </setting>
      <setting name="userName" serializeAs="String">
        <value>Nurken</value>
      </setting>
      <setting name="password" serializeAs="String">
        <value>Rootpass1970</value>
      </setting>
      <setting name="agentID" serializeAs="String">
        <value>726</value>
      </setting>
      <setting name="asteriskAMIport" serializeAs="String">
        <value>5068</value>
      </setting>
      <setting name="asteriskServerIP" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="astHost" serializeAs="String">
        <value>172.18.0.4</value>
      </setting>
      <setting name="astPort" serializeAs="String">
        <value>5038</value>
      </setting>
      <setting name="astUser" serializeAs="String">
        <value>test1</value>
      </setting>
      <setting name="astPass" serializeAs="String">
        <value>8d75a05141a0e853121a48a1ff024e74</value>
      </setting>
      <setting name="astPeerType" serializeAs="String">
        <value>SIP</value>
      </setting>
    </SnapCRM.Properties.Settings>
  </applicationSettings>
</configuration>